{% macro render_field(field, placeholder="") %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

<!doctype html>
<html>
    <head>
        <title>Sesame</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">

    </head>

    <body>
        <div class="container-fluid">

            {% block body %}{% endblock %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}

        </div>
    </body>
</html>
