{% extends "layout.html" %}

{% macro render_form(form) %}
{% for field in form %}
{% if field.name != "csrf_token" %}
{{ field.label}}
{{ render_field(field) }}
{% endif %}
{% endfor %}
{% endmacro %}

{% block body %}

<div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
    <div class="card white darken-1">
        <div class="card-content">
            <span class="card-title center-align">Register</span>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}

                <form id="registration-form" method="POST"  accept-charset="UTF-8" role="form">
                    {{ form.csrf_token }}
                    {{ render_form(form) }}
                    <a class="waves-effect waves-light btn" onclick="document.getElementById('registration-form').submit();">Register</a>
                </form>
          </div>
    </div>
</div>

{% endblock %}